# IDE project files
*.iml
*.ipr
*.iws
.idea/*
!.idea/codeStyleSettings.xml
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
Thumbs.db
build
.classpath
.project
/.idea/gradle.xml
/.idea/modules.xml
