# IDE project files
*.iml
*.ipr
*.iws
.idea/*
!.idea/codeStyleSettings.xml
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
Thumbs.db
build
.classpath
.project
/.idea/gradle.xml
/.idea/modules.xml
/.DS_Store
/.idea/modules/app/spresso-sdk-android.app.androidTest.iml
/.idea/modules/app/spresso-sdk-android.app.main.iml
/.idea/modules/app/spresso-sdk-android.app.unitTest.iml
/.gradle/7.3.3/checksums/checksums.lock
/.gradle/7.3.3/checksums/md5-checksums.bin
/.gradle/7.3.3/checksums/sha1-checksums.bin
